.table-main {
    width: 98%;
    margin: 0px 1% 0px 1%;
    /* background-color: yellow; */
}
.table-span {
    display: flex;
    justify-content: space-between;
    /* height: 50px !important;
    background-color: blue;   */
}

/* .table-tabs {
} */

/* .search-table {
    border: 1px solid black;
    border-radius: 18px !important;
} */

.table-search-textfield {
    width: 22% !important;
    /* height: 45px !important; */
    border-radius: 30px !important;
    border: 1px solid black !important;
}

.table-scroll {
    height: 310px !important;
    overflow-y: scroll !important;
}

.table-scroll table thead th {
    position: sticky !important;
    top: 0;
    background-color: #fff;
    z-index: 2;
  }